html
{
    background: url(imagenes/rubiks-cube.png) no-repeat center center fixed;
    -webkit-background-size: cover;
            background-size: cover;
}
h1
{
    font-size: 40px;
    font-weight: bold;

    text-align: center;

    color: black;
}
body
{
    margin: auto;
    padding: 40px;

    align-items: center;
    align-content: center;
    align-self: center;
}
.overlay
{
    position: fixed;
    z-index: 1;
    top: 0;

    visibility: hidden;

    width: 100%;
    height: 100%;

    opacity: 1;
    background: #000;
}
#contenedorImagenGrande
{
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    visibility: hidden;

    width: 100%;
    height: auto;

    text-align: center;
  overflow: auto;
    opacity: 1;
}
.imagenGrande .cerrar
{
    float: right;

    width: 100px;
    margin: 20px;
}
.imagenGrande .flecha
{
    width: 100px;
    margin: 20px;

    opacity: 1;
}
.flecha{
  width: 100px;
  margin:20px;
}
.imagenGrande img
{
    display: inline-block;

    width: 600px;
    margin-top: 50px;
}
.imagenesPequenas ul li
{
    display: inline-block;

    margin: 0 auto;
}
.imagenesPequenas li
{
    width: 25%;
}
.imagenMediana img
{
    width: 20%;
    margin-top: 20px;
    margin-left: 40%;

    align-self: center;
}
#imgCerrar
{
    float: right;

    width: 100px;
}
#imgCerrar a,
#imgCerrar img
{
    width: 100px;
}
.imagenPequena
{
    float: left;

    width: 20%;
}
#nombreprecio,
#nombreprecio a
{
    text-align: center;

    color: white;
    border-radius: 5px;
    background-color: #8080fb;
}

#imagenCabecera
{
    margin: auto;
}
.buscar
{
    float: right;

    width: 25%;
    height: 25px;
    margin: 15px;
    padding: 5px;

    border-radius: 20px;
    outline: 0;
    background-image: url(imagenes/lupa.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 26px 26px;
}
.buscar:focus
{
    background-image: none;
}
.buscar:focus::-webkit-input-placeholder
{
    opacity: 0;
}
.principal_galeria
{
    display: inline-block;

    text-align: center;
    width:95%;
    opacity: .95;
    background-color: white;
}
.principal_galeria ul
{
    overflow: auto;

    align-self: auto;
}
.principal_galeria li
{
    display: block;
    float: left;

    width: 30%;
    margin-left: 2%;

    align-self: center;
}
.principal_galeria li a
{
    font-size: 20px;
    font-stretch: extra-expanded;

    overflow: auto;

    width: 25%;

    text-decoration: none;

    color: black;
}
.principal_galeria li a:visited
{
    color: black;
}
.principal_galeria h1
{
    font-weight: bolder;

    color: black;
}
.nombreProducto
{
    font-family: arial;
    font-size: 26px;
    font-weight: bold;

    float: left;

    margin: 0;
    padding: 0;

    text-align: center;
    text-transform: uppercase;
}

.producto1
{
    font-size: 20px;
    font-weight: bold;

    float: left;
}

.producto2
{
    font-size: 15px;

    float: left;
}

.imagenProducto
{
    float: left;
    overflow: auto;
}
.descripcionProducto
{
    overflow-y: auto;

    margin-top: 1.5%;
    margin-left: 1.5%;
}
.botonComentario
{
    float: right;

    width: 20%;
    margin:5px;

    text-align: center;

    align-content: center;
}
#formularioregistro textarea{
  resize: none;

}
.botonComentario a
{
    display: block;
    border-radius: 10px;
    padding: .3em;

    text-decoration: none;

    color: white;
    background: #e6e6e6;
}

.botonComentario a:visited
{
    color: black;
}

.botonComentario a:active
{
    color: white;
}
.buscador
{
    width: auto;
}

ul
{
    list-style: none;
}

ul.menu
{
    display: inline-block;
    overflow: hidden;

    width: 100%;
    margin: auto;
    padding: 0;

    list-style: none;

    border: 1px solid #7c7c7c;
    background: #f4f4f4;
}

ul.menu li
{
    float: left;

    width: 20%;

    text-align: center;

    align-content: center;
}

ul.menu li a
{
    display: block;

    padding: .3em;

    text-decoration: none;

    color: #333;
    border-right: 1px solid #7c7c7c;
    border-left: 1px solid #fff;
}

ul.menu li:hover
{
    background: white;
}

ul.menu li:active
{
    border: 1px black;
    background: grey;
}

.footer
{
    clear: both;
    overflow: hidden;

    opacity: .9;
    background: lightgrey;
}

.footer .lista
{
    font-size: 30px;

    float: left;

    width: 20%;
    margin: 5%;
}

.footer .lista ul
{
    font-size: 15px;
}

#paypal
{
    margin-left: 45%;

    align-self: center;
}
.cuerpoPagina
{
    clear: both;
    overflow: auto;

    opacity: .9;
    background-color: white;
}
.cuerpoPagina table
{
    margin: 0 auto;
}
th,
td
{
    border-bottom: 1px solid black;
}
table
{
    width: 70%;

    opacity: .9;
    background-color: white;
}
th
{
    height: 30px;
}
td,
th
{
    padding: 10px;
}
tr:nth-child(even)
{
    background-color: #f2f2f2;
}
th
{
    color: white;
    background-color: #2e9afe;
}
#formularioregistro
{
    padding: 2% 0 6% 10%;

    text-transform: uppercase;

    opacity: .9;
    color: black;
    background-color: white;

    column-count: 2;
}
#formulariologin
{
    padding: 5% 0;

    text-align: center;
    text-transform: uppercase;

    opacity: .9;
    color: black;
    background-color: white;
}
#crearcuenta
{
    text-transform: Capitalize;
}

#formulariologin .logintexto,
#formularioregistro .registrotexto
{
    width: 100px;

    -webkit-transition: width .5s;
            transition: width .5s;
    text-align: center;

    background-color: lightblue;
}
#formularioregistro .numeroForm{
  width:30px;
  -webkit-transition: width .5s;
          transition: width .5s;
  background-color: lightblue;
  border-radius: 10px;

}
#formularioregistro .textoLargo
{
    width: auto;

        -webkit-transition: width .5s;
                transition: width .5s;

        background-color: lightblue;
        border-radius: 10px;
}
#formulariologin .logintexto:focus,
#formularioregistro .registrotexto
{
    width: 200px;

    outline: 0;
}
#formulariologin input,
#formularioregistro input,
#formularioregistro select
{
    border-radius: 10px;
}
#formularioregistro select
{
    background-color: lightblue;
}
#formulariologin .botonlogin:hover,
#formularioregistro .botonregistro:hover
{
    background: white;
}
.footer a
{
    text-decoration: none;

    color: #2e9afe;
}
#crearcuenta
{
    text-decoration: none;

    color: black;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: white;
}
.footer a:hover
{
    text-decoration: underline;

    color: #1e1bff;
}
.foto
{
    overflow: auto;
}
#formularioregistro select
{
    outline: 0;
}
#formularioregistro select:hover
{
    outline: 0;
}
.listaProducto
{
    overflow: auto;

    opacity: .9;
    background-color: white;
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* para 980px o menos */
@media screen and (max-width: 1230px)
{
    .principal_galeria li
    {
        width: 48%;
    }
    .imagenGrande img
    {
        display: inline-block;
        margin-left: 25%;
        width: 50%;
        align-self: center;
        margin-top: 50px;
    }
    #nombreprecio
    {
        clear: left;

        width: auto;
        margin-right: 5px;

        align-self: center;
    }
    .foto
    {
        align-self: center;
    }
}

/* para 700px o menos */
@media screen and (max-width: 700px)
{
    .footer .lista
    {
        clear: both;
    }
    .principal_galeria li
    {
        width: 100%;
    }
    #formularioregistro
    {
        column-count: 1;
    }
    #nombreprecio
    {
        clear: both;

        width: 50%;

        align-self: center;
    }
    .foto
    {
        overflow: visible;

        width: 50%;
    }
    ul.menu
    {
        display: block;
        float: left;
        overflow: hidden;

        width: 50%;
        margin-bottom: 10px;
        padding: 0;

        list-style: none;

        border: 1px solid #7c7c7c;
        background: #f4f4f4;
    }
    .buscar
    {
        width: 70%;
    }
    ul.menu li
    {
        display: block;
        float: none;

        width: auto;
    }
    .listaProducto,
    .producto1,
    .producto2,
    .descripcionProducto,
    #formulariologin,
    #formularioregistro
    {
        clear: left;
    }
    .comentarios
    {
        float: none;
    }
}

/* para 480px o menos */
@media screen and (max-width: 480px)
{
    .principal_galeria
    {
        float: none;
        clear: both;
    }
    .foto
    {
        overflow: visible;

        width: 70%;
    }
    ul .menu li:active
    {
        border: 0;
    }
    table,
    tr,
    td,
    th
    {
        display: block;
    }
    table
    {
        margin: auto;
    }
    tr
    {
        margin: 10px;
    }
    th
    {
        position: absolute;
        top: -9999px;
        left: -9999px;

        visibility: hidden;

        height: 0;
        margin: 0;
    }
    .listaProducto,
    .producto1,
    .producto2
    {
        width: 90%;
    }
    .imagenProducto
    {
        width: 70%;
    }
    .botonComentario
    {
        float: none;
        clear: both;

        width: auto;
    }
}
